{% extends 'base.html' %}
{% load static %}
{% block links %}

{% endblock %}
{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    <script>
        mermaid.initialize({startOnLoad:true});
    </script>
    <script>
        $("#proyecto").change(function () {
            let id = $(this).val()
            location.href = '/projects/requirements/diagrama_process/?proy=' + id
        })
    </script>
{% endblock %}
{% block main %}
    <div class="container-fluid">
        <div class="page-title mb-4 d-flex align-items-center">
            <div class="mr-auto">
                <h4 class="weight500 d-inline-block pr-3 mr-3 border-right ">Diagrama de Procesos</h4>
            </div>
        </div>
        <div class="row">
            <div class=" col-md-3">
                <div class="card card-shadow mb-4">
                    <div class="card-header border-0">
                        <div class="custom-title-wrap bar-primary">
                            <div class="custom-title">Proyectos</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <select name="proyecto" id="proyecto" class="form-control">
                            <option value="">--- Seleccione ---</option>
                            {% for proyecto in proyectos %}
                                {% if  proyecto.id == proy.id %}
                                    <option value="{{ proyecto.id }}" selected="selected">{{ proyecto.nombre }}</option>
                                {% else %}
                                    <option value="{{ proyecto.id }}">{{ proyecto.nombre }}</option>
                                {% endif %}

                            {% endfor %}
                        </select>
                    </div>
                    <div class="card-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            <textarea name="diagrama" id="diagrama" cols="30" rows="30" class="form-control form-shadow">{{ proy.diagramaprocesos_set.first.diagrama }}</textarea>
                            <br>
                            <button type="submit" class="btn btn-primary" style="width: 100%">Registrar</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class=" col-md-9">
            <div class="card card-shadow mb-4">
                <div class="card-header border-0">
                    <div class="custom-title-wrap bar-warning">
                        <div class="custom-title">Procesos</div>
                    </div>
                </div>
                <div class="card-body">
                    <div class='mermaid'>
                        {{ proy.diagramaprocesos_set.first.diagrama }}
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

{% endblock %}


